* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
}

a {
  text-decoration: none;
}
.banner {
  background-color: #61BB61;
  color: white;
  text-align: center;
  height: 190px;
  width:1097px;
  margin-bottom: 30px;
}

.banner h1 {
  font-size: 48px;
  font-weight: bold;
  height: 64px
}

.banner p {
  font-size: 20px;
}

.articles-page {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.banner {
  background: #5cb85c;
  padding: 40px 20px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  margin-top: 60px;
  width: 100%;
}

.banner__title {
  font-size: 48px;
  margin-bottom: 10px;
}

.banner__text {
  font-size: 20px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-card {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.article-card__link {
  text-decoration: none;
}

.article-card__title {
  color: #5cb85c;
  margin-bottom: 10px;
}

.article-card__description {
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination__button {
  width: 40px;
  height: 40px;

  border: 1px solid #61BB61;

  background: white;
  color: #61BB61;

  cursor: pointer;

  font-size: 16px;
}

.pagination__button.active {
  background: #61BB61;
  color: white;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-icon {
  font-size: 50px;
  color: #61BB61;
}

.loader-container p {
  font-size: 40px;
  color: #61BB61;
}